<nav class="navbar navbar-expand bg-light justify-content-between py-2 px-3 border-bottom">
  <ul class="navbar-nav d-flex mr-auto">
    <li class="nav-item">
      <a class="nav-link" (click)="onToggleSidebar()"><i class="bi bi-list"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-bell"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-moon"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-search"></i></a>
    </li>
  </ul>
  <div class="d-flex gap-3">
    <button class="btn py-0 px-2" data-type="primary-button">
      <span>+</span>
      تیکت جدید
    </button>
    <div class="dropdown">
      <button class="btn dropdown-toggle d-flex rounded-circle gap-1 px-2 py-1 position-relative" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        <i class="bi bi-person"></i>
        <span class="position-absolute translate-middle bg-success border border-light rounded-circle user-status-badge">
          <span class="visually-hidden"></span>
        </span>
      </button>
      <div class="dropdown-menu shadow text-end" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">
          <i class="bi bi-person"></i>
          حساب کاربری
        </a>
        <a class="dropdown-item" href="#">
          <i class="bi bi-key"></i>
          فراموشی رمز عبور
        </a>
        <a class="dropdown-item" href="#">
          <i class="bi bi-clock-history"></i>
          تاریخچه ورود و خروج
        </a>
      </div>
    </div>
  </div>
</nav>


