/* ***Fonts*** */
//For iran-sans-farsi - Regular

@font-face {
  font-family: IRANSansFarsi;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/iran-sans-farsi/farsi_normal.eot");
  src: url("../assets/fonts/iran-sans-farsi/farsi_normal.eot") format("embedded-opentype"), url("../assets/fonts/iran-sans-farsi/farsi_normal.woff2") format("woff2"), url("../assets/fonts/iran-sans-farsi/farsi_normal.woff") format("woff"), url("../assets/fonts/iran-sans-farsi/farsi_normal.ttf") format("truetype");
}

//For iran-sans-farsi - Bold
@font-face {
  font-family: 'iran-sans-farsi';
  src: url("../assets/fonts/iran-sans-farsi/farsi_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {

  /* ***animation*** */

  --animation-ease: all 0.3s ease;

}

/* ***Colors*** */

:root[data-theme="default"] {
  --primary-color: #363062;
  --secondary-color: #F99417;
  --secondary-background: #4D4C7D;
  --main-background: #ededee; /*white for light themes*/
  --text-color-dark: #2C3333; /*dark gray for light themes*/
  --text-color-light: #e2e2e2; /*dark gray for light themes  #CBE4DE */
  --light-gray: #e2e2e2; /*light gray*/
}




