<div class="authentication-page d-flex align-items-center justify-content-center min-vh-100">
  <div class="container">
    <div class="row shadow-lg rounded-4">
      <div class="authentication-right col-12 col-lg-6">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <img class="logo-img" src="../../../assets/images/Mobin-Logo.png" />
          <strong data-type="primary-title">فراموشی رمز عبور</strong>
        </div>
        <form class="authentication-form d-flex flex-column gap-3" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="field d-flex flex-column gap-1">
            <label for="username" class="form-label m-0 fw-bold">شماره همراه</label>
            <input type="text" class="form-control m-0" placeholder="شماره همراه" formControlName="phoneNumber">
            <span data-type="input-validation-alert"></span>
          </div>
          <div class="field d-flex flex-column gap-1">
            <label class="form-label m-0 fw-bold">کد امنیتی</label>
            <div class="captcha-field form-control container py-0">
              <div class="row d-flex align-items-center justify-content-between">
                <div class="col-4 input-container d-flex flex-column">
                  <input class="h-100" type="text" placeholder="کد امنیتی" formControlName="captchaCode">
                </div>
                <div class="col-8 d-flex align-items-center justify-content-end px-0">
                  <div class="col-10 captcha-image p-0">
                    <img id="captchaImage" class="img-fluid" src="../../../assets/images/captcha.png" height="48" width="180" alt="تصویر امنیتی" />
                  </div>
                  <div class="col-2 refresh-captcha d-flex justify-content-center">
                    <a class="change-captcha">
                      <i class="bi bi-arrow-clockwise"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <span data-type="input-validation-alert"></span>
          </div>
          <div class="field mt-4">
            <button type="submit" class="w-100" data-type="primary-button">دریافت کد</button>
          </div>
        </form>
        <div>
          <p class="d-flex justify-content-center mt-3">
            <a routerLink="/login" data-type="hyper-link" class="d-block">بازگشت به صفحه ورود</a>
          </p>
        </div>
      </div>
      <div class="authentication-left col-12 col-lg-6 d-flex flex-column justify-content-end p-0">
        <img src="../../../assets/images/customer-support.png" />
      </div>
    </div>
  </div>
</div>


