.navbar {
  background-color: var( --primary-color);
  width: 15rem;
  right: 0;
  transition: all 0.5s ease;
}

.navbar.shrank {
  width: 4.5rem;
}

.navbar.shrank .nav-link > span {
  display: none;
}

.navbar.shrank .large-logo {
  display: none;
}

.navbar.shrank .small-logo {
  display: block;
}

.navbar .small-logo {
  display: none;
}

.navbar a {
  color: var(--main-background);

  &:hover {
    color: var(--secondary-color);
  }
}

.navbar .active a {
  color: var(--secondary-color);

  &::before {
    content: '';
    position: absolute;
    right: 0;
    width: 4px;
    height: 32px;
    background-color: var(--secondary-color);
    border-radius: 5px 0 0 5px;
  }
}

.navbar i {
  font-size: 20px;
}

[data-type="tooltip"]:hover .tooltiptext {
  visibility: hidden;
}

.shrank [data-type="tooltip"]:hover .tooltiptext {
  visibility: visible;
}

@media(max-width: 1200px) {

  .navbar {
    position: fixed;
    right: -15rem;
    top: 0;
    z-index: 1000;
    visibility: hidden;
  }

  .navbar.open {
    visibility: visible;
    right: 0;
  }

  .sidebar-overlay {
    position: fixed;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    transition: all 0.5s ease;
  }

  .sidebar-overlay.active {
    visibility: visible;
    opacity: 1;
  }
}
