<div class="sidebar-overlay" (click)="closeSidebar()" [class.active]="hasOverlay && screenWidth<1200"></div>
<aside class="navbar d-flex flex-column align-items-start vh-100 px-4 py-5"
       [class.shrank]="!sidebarExpanded && screenWidth>1200"
       [class.open]="sidebarOpened && screenWidth<1200">
  <div class="d-flex flex-column gap-5 w-100">
    <a class="navbar-brand mx-0 text-center">
      <img src="../assets/images/Mobin-Logo-White.png" class="large-logo" height="55" />
      <img src="../assets/images/Logo.png" class="small-logo" height="35" />
    </a>
    <ul class="navbar-nav" id="navbarSupportedContent">
      <li class="nav-item mt-2"
          *ngFor="let menuItem of menuItems; let i = index"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link d-flex gap-4" href="#" routerLink="{{menuItem.path}}">
          <div data-type="tooltip">
            <i class={{menuItem.icon}}></i>
            <span class="tooltiptext">{{menuItem.label}}</span>
          </div>
          <span>{{menuItem.label}}</span>
        </a>
      </li>
    </ul>
  </div>
  <a class="nav-link d-flex gap-4" href="#">
    <i class="bi bi-box-arrow-right"></i><span>خروج</span>
  </a>
</aside>
